# Dependencies
node_modules
.pnpm-store

# Build outputs
.next

# Environment files
# .env
.env.example
.env.example.dev
.env.example.prod

# Git
.git
.gitignore

# Docker files
Dockerfile*
compose*.yml
coolify.yml

# Development files
.vscode
.cursor
.DS_Store
*.log

# Documentation
README.md
TODO.md
docs/

# Misc
.husky
.github
