# dependencies
/node_modules

# next.js
.next/

# misc
.DS_Store
*.pem

# env files
.env
.env.dev
.env.prod

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# vscode
.vscode

# prisma
prisma/client
prisma/zod

# Test
run/

# Husky hooks
.husky/_
