# dependencies
node_modules/
.pnpm-store

# next.js
.next/
.next-test/

# misc
.DS_Store
*.pem

# env files
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
.cursor/
.idea/

# docker ssl certs
docker/certs/

# prisma
prisma/client

# Test
run/

# husky
.husky/_/

# Sonar
.scannerwork/

# Mcp
.mcp*
