@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: hsl(0, 0%, 10%);
    --background: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: hsl(0, 0%, 90%);
        --background: hsl(0, 0%, 5%);
    }
}

/* body {
    color: var(--color);
    background: var(--background);
} */
