@use "tailwindcss";

@config "./tailwind.config.ts";

/* ========== Theme Styles ========== */

// @mixin light-theme {
//     --background: hsl(0, 0%, 100%);
//     --foreground: hsl(0, 0%, 0%);

//     --background-accent: hsl(0, 0%, 95%);
//     --foreground-accent: hsl(0, 0%, 0%);

//     --primary: hsl(248, 79%, 13%);
//     --secondary: hsl(183, 100%, 40%);

//     --primary-accent: hsl(248, 79%, 13%);
//     --secondary-accent: hsl(183, 100%, 40%);
// }

// @mixin dark-theme {
//     --background: hsl(0, 0%, 10%);
//     --foreground: hsl(0, 0%, 95%);

//     --background-accent: hsl(0, 0%, 15%);
//     --foreground-accent: hsl(0, 0%, 95%);

//     --primary: hsl(248, 79%, 13%);
//     --secondary: hsl(183, 100%, 40%);

//     --primary-accent: hsl(248, 79%, 13%);
//     --secondary-accent: hsl(183, 100%, 40%);
// }

// @mixin common-theme {
//     --corner-radius: 0.25rem;
// }

/* ========== Theme Config ========== */

// :root {
//     @include light-theme;
//     @include common-theme;
// }

// :root.dark {
//     @include dark-theme;
//     @include common-theme;
// }

// @media (prefers-color-scheme: dark) {
//     :root:not(.light) {
//         @include dark-theme;
//         @include common-theme;
//     }
// }

// body {
//     background: var(--background);
//     color: var(--foreground);
//     transition:
//         background-color 0.2s ease,
//         color 0.2s ease;
// }

/* ========== Scrollbar ========== */

.scrollbar-hide {
    /* Internet Explorer, Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

/* ========== Skeleton Animation ========== */

:root {
    /* Shimmer colors */
    --shimmer-light: hsl(210, 12%, 97%);
    --shimmer-dark: hsl(225, 12%, 92%);
    /* Shimmer second colors */
    --shimmer-second-light: hsl(210, 12%, 92%);
    --shimmer-second-dark: hsl(225, 12%, 87%);
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, var(--shimmer-light) 4%, var(--shimmer-dark) 25%, var(--shimmer-light) 36%);
    background-size: 1000px 100%;
}

.animate-shimmer-second {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(
        to right,
        var(--shimmer-second-light) 4%,
        var(--shimmer-second-dark) 25%,
        var(--shimmer-second-light) 36%
    );
    background-size: 1000px 100%;
}
