@import "tailwindcss";

@config "./tailwind.config.ts";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* ========== Scrollbar ========== */

.scrollbar-hide {
    /* Internet Explorer, Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}

/* ========== Skeleton Animation ========== */

:root {
    /* Shimmer colors */
    --shimmer-light: hsl(210, 12%, 97%);
    --shimmer-dark: hsl(225, 12%, 92%);
    /* Shimmer second colors */
    --shimmer-second-light: hsl(210, 12%, 92%);
    --shimmer-second-dark: hsl(225, 12%, 87%);
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, var(--shimmer-light) 4%, var(--shimmer-dark) 25%, var(--shimmer-light) 36%);
    background-size: 1000px 100%;
}

.animate-shimmer-second {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(
        to right,
        var(--shimmer-second-light) 4%,
        var(--shimmer-second-dark) 25%,
        var(--shimmer-second-light) 36%
    );
    background-size: 1000px 100%;
}
