name: Deploy Pipeline

on:
    push:
        branches: [main, test, feat/*]
    pull_request:
        branches: [main, test]

jobs:
    commit:
        name: Commit Check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: wagoid/commitlint-github-action@v6

    setup-base:
        name: Setup dependencies
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-base

    lint:
        name: Lint check
        runs-on: ubuntu-latest
        needs: [commit, setup-base]
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-base
            - uses: ./.github/actions/quality-check
              with:
                  check-type: lint
    format:
        name: Format check
        runs-on: ubuntu-latest
        needs: [commit, setup-base]
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-base
            - uses: ./.github/actions/quality-check
              with:
                  check-type: format
    type:
        name: Type check
        runs-on: ubuntu-latest
        needs: [commit, setup-base]
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-base
            - uses: ./.github/actions/quality-check
              with:
                  check-type: type

    test:
        name: Integration tests
        runs-on: ubuntu-latest
        needs: [lint, format, type]
        services:
            postgres:
                image: postgres:16-alpine
                ports:
                    - "5432:5432"
                env:
                    POSTGRES_DB: eco_service_db
                    POSTGRES_USER: eco_service_user
                    POSTGRES_PASSWORD: eco_service_password
                options: >-
                    --health-cmd="pg_isready -U eco_service_user -d eco_service_db"
                    --health-interval=2s
                    --health-timeout=1s
                    --health-retries=30
                    --health-start-period=10s
        env:
            # Used in the workflow
            DATABASE_URL: "postgresql://eco_service_user:eco_service_password@127.0.0.1:5432/eco_service_db"
            NEXT_PUBLIC_BASE_URL: "http://localhost:3000"
            # Required to prevent errors
            BETTER_AUTH_SECRET: "session-encryption-key"
            PLUNK_API_KEY: "plunk-private-key"
            NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY: "pk_test_xxxxx"
            STRIPE_SECRET_KEY: "sk_test_pk_test_xxxxx"
            STRIPE_WEBHOOK_SECRET: "whsec_xxxxx"
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/setup-base
            - name: Setup database
              run: pnpm prisma:generate && pnpm prisma:deploy
            - name: Build application
              run: pnpm build
            - name: Start server in background for tests
              run: pnpm start &
            - name: Wait for server to be ready
              run: |
                  for i in {1..30}; do
                      if nc -z localhost 3000; then
                          echo "Server is up!"
                          break
                      fi
                      echo "Waiting for server..."
                      sleep 2
                  done
            - name: Run unit tests
              run: pnpm test:run
            # - name: Run integration tests
            #   run: pnpm test:integration
            # - name: Run functional tests
            #   run: pnpm test:functional
            # - name: Run coverage
            #   run: pnpm test:coverage
            # - name: Run e2e tests
            #   run: pnpm test:e2e

    # test:
    #     name: Unit tests
    #     runs-on: ubuntu-latest
    #     needs: [commit, setup-base]
    #     steps:
    #         - uses: actions/checkout@v4
    #         - uses: ./.github/actions/setup-base
    #         - uses: ./.github/actions/quality-check
    #           with:
    #               check-type: test

    deploy-preview:
        if: github.ref == 'refs/heads/test'
        name: Deploy Preview
        runs-on: ubuntu-latest
        needs: [lint, format, type, test]
        environment: preview
        steps:
            - name: Trigger Dokploy Deploy Preview
              run: |
                curl -X 'POST' 'https://${{ secrets.DOKPLOY_VPS_URL }}/api/compose.deploy' \
                    -H 'accept: application/json' \
                    -H 'Content-Type: application/json' \
                    -H 'x-api-key: ${{ secrets.DOKPLOY_API_TOKEN }}' \
                    -d '{
                        "composeId": "${{ secrets.DOKPLOY_COMPOSE_ID_PREVIEW }}",
                        "title": "Api Deployment for Preview",
                        "description": "Deployment pipeline triggered by commit: ${{ github.sha }}"
                    }'

    deploy-production:
        if: github.ref == 'refs/heads/main'
        name: Deploy Production
        runs-on: ubuntu-latest
        needs: [lint, format, type, test]
        environment: production
        steps:
            # # Setup
            # - uses: actions/checkout@v4
            # - uses: ./.github/actions/setup-base

            # # Release avec semantic-release
            # - name: Create release
            #   run: pnpm dlx semantic-release
            #   env:
            #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Trigger Dokploy Deploy Production
              run: |
                curl -X 'POST' 'https://${{ secrets.DOKPLOY_VPS_URL }}/api/compose.deploy' \
                    -H 'accept: application/json' \
                    -H 'Content-Type: application/json' \
                    -H 'x-api-key: ${{ secrets.DOKPLOY_API_TOKEN }}' \
                    -d '{
                        "composeId": "${{ secrets.DOKPLOY_COMPOSE_ID_PRODUCTION }}",
                        "title": "Api Deployment for Production",
                        "description": "Deployment pipeline triggered by commit: ${{ github.sha }}"
                    }'
