name: Tag and Release
description: On push on main branch, create tag and release.

on:
    workflow_dispatch:
    # push:
    #     branches: [main]

jobs:
    release:
        name: Tag and release
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - id: setup-node-pnpm
          uses: ./.github/actions/setup-node-pnpm
        - run: pnpm dlx semantic-release
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
